@import url("Style_1.css");
@import url("colors.css");

img {
    width: auto;
    max-height: 500px;
}

@media only screen and (max-width: 800px) {
    .menu {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .card {
        width: 70%; 
        max-height: 450px;
    }

    .underground blockquote {
        width: 144px;
    }
    
    .underground iframe {
        min-width: 160px;
        width: 260px;
        border-radius: 10px;
    }
}